<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/level/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/factor/0/plot" value="false" />
    <add key="/hdd/0/level/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/factor/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAIvdvGWj+ZK7HgwMFU4LeRKYGMCg1AkAGpnBGRgAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAHvjvXWj+ZK7HgwM7c5PeROYGMCA3RkAC0dDNBgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAHvjvXWj+ZK7HgwM7c5PeROYGMCA3RkAC0dDNBgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAHvjvXWj+ZK7HgwM7C5PeROYGMCg3RkA+jbA8RgAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEADOYsXWj+ZK7HgwMCg63eROYGKAAAOozEykYAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEADOYsXWj+ZK7HgwMDY63eROYGMBghyMA4yhVlxgAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEADOYsXWj+ZK7HgxAcJs3gYkBCgCZ2vpZGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEADOYsXWj+ZK7HgxAcJs3gYkBCgCZ2vpZGAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANtnsG2j+ZK7HiJbG52W8SQwMQBBwqVGJwA+5tVyGAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANtnsG2j+ZK7HgyfjZ2X8SQwMYDACmNnAP9rK38YAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANtnsG2j+ZK7Hg1sy5yX8SQwMYCAzjJnAHdi4tMYAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANtnsG2j+ZK7HgwMDC7LeBKYGCDABQDtsC0xGAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEABOvnLZn8u+7HgwMB/6vuhLIxAAEiqVbnVr9UsBsi2VbnVbfTwWzw95sd7qvBhFPEdnp9P1EIphdt3qXk9guCNtVa7fTx63pYPahVVudzj5MArNPFG110mpMBrPXJm51AgBeyCodeAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOtfMG3P5N93PRgYDvw3WhvIxAAEci1PHVr9UsBss0NPHVbfTwWzGxa9cLivBhH/JvHK4fuJRDD7kfQbB7FdELbdnjcOH7emg9lfjj91OPswCcxWa3zqoNWYDGa3ZD91AABidm3weAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOtfMG3P5N93PRgYDvw3WhvIxAAEExZY27f6pYDZF9Zb2q++nwpmN6xVsr+vBhX/KWb//UQimF3wiM1ebBeEPeE+o/3Hrelg9oNGS/uzD5PA7IAd1vZajclgdkKqjT0AcHEU93gAAAA=" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJswadNG8yV3PRgYfjke40tgYgCDR45/pugeYwOzD/wHAAl18ZgkAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJswadNG8yV3PRgY3jke40tgYgCDW45/pugeYwOzD/wHAC3iuIAkAAAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJswadNG8yV3PRgYvjge40tgYgCDJ45/pugeYwOzD/wHALLOxAokAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAJswadNG8yV3PRgY3jge40tgYgCDO44AyLcgABgAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAJswadNG8yV3PRgYBJ2O8SUwMYABjxMAX2M9exgAAAA=" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAIs8t3mj+ZK7HneD0h2l+ROYGIDA7PQ+BwBPEkk3GAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAIs8t3mj+ZK7HgxAIM2fwMQABQCYUZNBGAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAIs8t3mj+ZK7Hla50o7S/AlMDEAQUHzAAQBimQWTGAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/clock/9/plot" value="false" />
    <add key="/intelcpu/0/clock/10/plot" value="false" />
    <add key="/intelcpu/0/clock/11/plot" value="false" />
    <add key="/intelcpu/0/clock/12/plot" value="false" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEANvyN3vP5N93PRgYDvx/zfeEkQEI+HpUnDYppTCB2H8sNznO2ZoKZj9bzuqU+TUJzP6cd8wx5D+EnfKF0WnWOYj6mjuSToHrIexpRe5OTFnJYPZb7/2OfKIQc6IWNjla/ksAs+cbBzkCABdYAoeEAAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEADvpkLNn8u+7HgwMB/5fO/2YkQEIHP4HO21SSmECsbvmPnCcszUVzD7aZ+6U+TUJzLae6OQU8h/CZrjg7zTrHES99UYdp8D1EPbNzX5Ob9OTIWoM+JyUxSHmMBxwc7T8lwBhJ7Q5AgDRM6aRhAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADvpkLNn8u+7HgwMB/5fO/2YkQEIVBa7OW1SSmECsd88YXWaszUVzC479M8x82sSmN3194JjyH8Im+HAZ8dZ5yDqGRQ+Owauh7Dnc1s6MWUlQ8QTLjryiULMSVru5mj5LwEi3qDkCABVGs1IhAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADuUkbNn8u+7HgwMB/7fXfyYkQEIVq1RdNqklMIEYh/tW+E4Z2sqmN01959j5tckMNtPZ4VjyH8Im+EAv9OscxD1NzrVnALXQ9hPt4U4MWUlQ9VEOfKJQsxJWu7maPkvASLOIOYIAKjXCn2EAAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADuUkbNn8u+7HgwMB/7fXfyYkQEItszSdNqklMIEYpc5/XGcszUVzGZQ+OGY+TUJzN5ofNcx5D+EzdDA6TTrHES935vfjoHrIWx9CWUnpqxkqBprRz5RiDki1nqOlv8SIOIHNBwBWOSJIYQAAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7Hl/mczttUkphYgCCo3o7HOdsTQWz37B8csz8mgRmMyw46xjyH8pOYHOadQ6i/oZnmlPgegi7bVqaE1NWMkSNw1ZHPlGoOSofHC3/JYDZ01SjHQFYL48meAAAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7HnmPWZw2KaUwMQCB+rZKxzlbU8Fsm4/vHDO/JoHZ3irNjiH/IWwGh3OOs85B1HfZ/ncMXA9hR5grOzFlJYPZ18KvOvKJQsyZoL3A0fJfApgdbSLmCACEPdJReAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7Hqp7PzhuUkphYgCCsqQexzlbUyHsQ08dM78mQdlTHUP+Q9jTWD86zjoHUX+jk9kpcD2UbZzvxJSVDGZfuvjakU8UYk7S8u2Olv8SIHpTHzoAAPi7SAZ4AAAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7Hn22uk6blFKYGIDA2nCp45ytqWA2gwKXU+bXJAi7YbdjyH8Iew7nW8dZ5yDq/XTknALXQ9jtV+2cmLKSIeoPHHTkE4WYM+lzjaPlvwQwOyq1whEA5hVpg3gAAAA=" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7HlPTtZw2KaUwMQCBeX2T45ytqWD2jZN8Tplfk8BsBoc5jiH/IeyAXSxOs85B1FsHSjoFroew2U5qOTFlJUPUL+hx5BOFmKO0LNrR8l8CmP1VKs0RAKNNSmF4AAAA" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7HreWSjttUkphYgCCpOcJjnO2poLZIrPvO2Z+TYKwb+91DPkPYTMwPHScdQ6i3kpX1ilwPYT92tTDiSkrGaL+/WlHPlGIOTPFHR0t/yWA2bPC2xwBBUYLHXgAAAA=" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7HqWpLE6blFKYGIDgjcsKxzlbU8HseTteO2Z+TQKzp6yZ6hjyH8KexrrfcdY5iPqjfLxOgeshbLt7wU5MWclgdu63M458ohBzXl3PcLT8lwBm5+lrOAIAI1JAOngAAAA=" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEAJvPE7Bv8u+7Hh0iAU6blFKYGIDgxsrjjnO2poLZDAv0nTK/JoHZb57cdwz5D2EzODA7zToHUT8vQ8EpcD2EzSIT7cSUlQxRw/DQkU8UYs5RvamOlv8SIOINux0BT99SS3gAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAIs8t3mj+ZK7Hoc7jztJ8ycwMQDBfiD7er3OMTYQh+HAf9nJfk6h4RA2ACWKpRAwAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAOt9uGmj+ZK7HgozH7vUCiQwMQBBwPKpLo7ZusfYQByGA/9lJ/s5hYZD2ACsOYdLMAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADM12LzRfMldj4WPZ7vYCSUwMQBBwPKpLjekdI+xgTgMB/7LTvZzCg2HsAE7BVbuMAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJOq27zRfMldD/ftz1z6hBOYGIAgYPlUlwNx1Rwx4SDegf8Az+Oz4CQAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAIs8t3mj+ZK7Hu7bn7lI8ycwMQBBwPKpLmctqzliwkG8A/8BBm7dSSQAAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="/intelcpu/0/clock/9/values" value="" />
    <add key="/intelcpu/0/clock/10/values" value="" />
    <add key="/intelcpu/0/clock/11/values" value="" />
    <add key="/intelcpu/0/clock/12/values" value="" />
  </appSettings>
</configuration>